* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  /* background: red; */
  overflow: hidden;
}
.zyx {
  float: left;
  width: 100%;
  min-height: 100vh;
  background-image: url('./img/bg.jpeg');
  background-size: cover;
  overflow: hidden;
}
.zyx_p{
  font-size: 16px;
  color: white;
  min-height: 50px;
  line-height: 50px;
  font-weight: bold;
}
.zyx_left {
  width: 15%;
  float: left;
  min-height: 100vh;
  background: #001529;
}
.zyx_left ul li{
  width: 100%;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
}
a:-webkit-any-link {
  color: white;
  font-size: 14px;
}
.zyx_right {
  width: 85%;
  float: right;
  min-height: 100vh;
}
